@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}



#personal-logo {
    height: 50px;
    width: 50px;
 filter: invert(1)   
}

nav {
    display: flex;
    justify-content: space-between;
    
}

